web/wsdls/DOLService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. -->
<definitions targetNamespace="http://dol.com/" name="DOLService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://dol.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <wsp:Policy wsu:Id="DOLServicePortBindingPolicy"/>
  <types>
    <xsd:schema>
      <xsd:import namespace="http://dol.com/" schemaLocation="DOLService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getAllOccupations">
    <part name="parameters" element="tns:getAllOccupations"/>
  </message>
  <message name="getAllOccupationsResponse">
    <part name="parameters" element="tns:getAllOccupationsResponse"/>
  </message>
  <message name="addSkillToOccupation">
    <part name="parameters" element="tns:addSkillToOccupation"/>
  </message>
  <message name="addSkillToOccupationResponse">
    <part name="parameters" element="tns:addSkillToOccupationResponse"/>
  </message>
  <message name="dropSkillFromOccupation">
    <part name="parameters" element="tns:dropSkillFromOccupation"/>
  </message>
  <message name="dropSkillFromOccupationResponse">
    <part name="parameters" element="tns:dropSkillFromOccupationResponse"/>
  </message>
  <message name="getSkillsFromOccupation">
    <part name="parameters" element="tns:getSkillsFromOccupation"/>
  </message>
  <message name="getSkillsFromOccupationResponse">
    <part name="parameters" element="tns:getSkillsFromOccupationResponse"/>
  </message>
  <message name="getOccupationFromSkill">
    <part name="parameters" element="tns:getOccupationFromSkill"/>
  </message>
  <message name="getOccupationFromSkillResponse">
    <part name="parameters" element="tns:getOccupationFromSkillResponse"/>
  </message>
  <message name="getSkillsByType">
    <part name="parameters" element="tns:getSkillsByType"/>
  </message>
  <message name="getSkillsByTypeResponse">
    <part name="parameters" element="tns:getSkillsByTypeResponse"/>
  </message>
  <message name="getOccupationsByType">
    <part name="parameters" element="tns:getOccupationsByType"/>
  </message>
  <message name="getOccupationsByTypeResponse">
    <part name="parameters" element="tns:getOccupationsByTypeResponse"/>
  </message>
  <message name="getSkill">
    <part name="parameters" element="tns:getSkill"/>
  </message>
  <message name="getSkillResponse">
    <part name="parameters" element="tns:getSkillResponse"/>
  </message>
  <message name="getOccupation">
    <part name="parameters" element="tns:getOccupation"/>
  </message>
  <message name="getOccupationResponse">
    <part name="parameters" element="tns:getOccupationResponse"/>
  </message>
  <message name="getAllSkills">
    <part name="parameters" element="tns:getAllSkills"/>
  </message>
  <message name="getAllSkillsResponse">
    <part name="parameters" element="tns:getAllSkillsResponse"/>
  </message>
  <portType name="DOLService">
    <operation name="getAllOccupations">
      <input wsam:Action="http://dol.com/DOLService/getAllOccupationsRequest" message="tns:getAllOccupations"/>
      <output wsam:Action="http://dol.com/DOLService/getAllOccupationsResponse" message="tns:getAllOccupationsResponse"/>
    </operation>
    <operation name="addSkillToOccupation">
      <input wsam:Action="http://dol.com/DOLService/addSkillToOccupationRequest" message="tns:addSkillToOccupation"/>
      <output wsam:Action="http://dol.com/DOLService/addSkillToOccupationResponse" message="tns:addSkillToOccupationResponse"/>
    </operation>
    <operation name="dropSkillFromOccupation">
      <input wsam:Action="http://dol.com/DOLService/dropSkillFromOccupationRequest" message="tns:dropSkillFromOccupation"/>
      <output wsam:Action="http://dol.com/DOLService/dropSkillFromOccupationResponse" message="tns:dropSkillFromOccupationResponse"/>
    </operation>
    <operation name="getSkillsFromOccupation">
      <input wsam:Action="http://dol.com/DOLService/getSkillsFromOccupationRequest" message="tns:getSkillsFromOccupation"/>
      <output wsam:Action="http://dol.com/DOLService/getSkillsFromOccupationResponse" message="tns:getSkillsFromOccupationResponse"/>
    </operation>
    <operation name="getOccupationFromSkill">
      <input wsam:Action="http://dol.com/DOLService/getOccupationFromSkillRequest" message="tns:getOccupationFromSkill"/>
      <output wsam:Action="http://dol.com/DOLService/getOccupationFromSkillResponse" message="tns:getOccupationFromSkillResponse"/>
    </operation>
    <operation name="getSkillsByType">
      <input wsam:Action="http://dol.com/DOLService/getSkillsByTypeRequest" message="tns:getSkillsByType"/>
      <output wsam:Action="http://dol.com/DOLService/getSkillsByTypeResponse" message="tns:getSkillsByTypeResponse"/>
    </operation>
    <operation name="getOccupationsByType">
      <input wsam:Action="http://dol.com/DOLService/getOccupationsByTypeRequest" message="tns:getOccupationsByType"/>
      <output wsam:Action="http://dol.com/DOLService/getOccupationsByTypeResponse" message="tns:getOccupationsByTypeResponse"/>
    </operation>
    <operation name="getSkill">
      <input wsam:Action="http://dol.com/DOLService/getSkillRequest" message="tns:getSkill"/>
      <output wsam:Action="http://dol.com/DOLService/getSkillResponse" message="tns:getSkillResponse"/>
    </operation>
    <operation name="getOccupation">
      <input wsam:Action="http://dol.com/DOLService/getOccupationRequest" message="tns:getOccupation"/>
      <output wsam:Action="http://dol.com/DOLService/getOccupationResponse" message="tns:getOccupationResponse"/>
    </operation>
    <operation name="getAllSkills">
      <input wsam:Action="http://dol.com/DOLService/getAllSkillsRequest" message="tns:getAllSkills"/>
      <output wsam:Action="http://dol.com/DOLService/getAllSkillsResponse" message="tns:getAllSkillsResponse"/>
    </operation>
  </portType>
  <binding name="DOLServicePortBinding" type="tns:DOLService">
    <wsp:PolicyReference URI="#DOLServicePortBindingPolicy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getAllOccupations">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addSkillToOccupation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="dropSkillFromOccupation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSkillsFromOccupation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getOccupationFromSkill">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSkillsByType">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getOccupationsByType">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSkill">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getOccupation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllSkills">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DOLService">
    <port name="DOLServicePort" binding="tns:DOLServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

